


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test6</title>
</head>
<body>
    <h1>TEST 6</h1>
    <p>Klik på knap</p>
    <button id="minknap">hent personer</button>

    <ol id="minliste"></ol>


    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/Script/Test6.js"></script>
    
</body>
</html>
