
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Min App</title>
</head>
<body>
    <h1>Min App</h1>
    <hr />

    @RenderBody()


    <hr />
    <h5>Min Footer</h5>
</body>
</html>
